.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.line {
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.start-time {
    transform: translateX( 13px);

}

.work-time {
    transform: translateX( 20px);
}

.pause-time {
    transform: translateX( 33px);
    transition: transform 0.3s ease;
}

/************** INPUT FIELDS **************/

.input-field-worktime-calculator {
    padding: 8px;
    font-size: 14px;
    width: 100px;
    height: 25px;
    margin-right: 8px;
    background-color: #102A44;
    color: #D6DEEB;
    border: 1px solid #82AAFF;
    border-radius: 4px; /
font-family: 'Consolas', 'Roboto Mono', monospace;
}

.input-field-worktime-calculator:focus {
    border-color: #C792EA;
    box-shadow: 0 0 5px rgba(199, 146, 234, 0.6);
    outline: none;
}

.input-field-worktime-calculator::-webkit-calendar-picker-indicator {
    opacity: 1;
    filter: invert(1);
    color: #ADDB67;
    cursor: pointer;
}

/************** BUTTONS **************/

.hidden-button-worktime-calculator {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 25%;
    transform: translateX( -15px);
    transition: opacity 0.3s ease;
}

.pause-time-minus-btn {
    background-color: #F78C6C;
}

.work-time-bookmark-btn {
    background-color: #ADDB67;
}

.submit-btn-worktime-calculator, .saved-times-btn-worktime-calculator {
    background-color: #ADDB67;
}

.reset-btn-worktime-calculator {
    padding: 8px 16px;
    background-color: #F78C6C;
    color: #001122;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.saved-times-btn-worktime-calculator, .submit-btn-worktime-calculator, .reset-btn-worktime-calculator {
    height: 36px
}

.line:hover .hidden-button-worktime-calculator {
    opacity: 1;
}

/************** ICONS **************/

.circle-minus-icon {
    line-height: 1;
    font-size: 15px;
}

