/* NIGHT OWL NAV BAR THEME */

.navbar {
    background-color: #001A33;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #102A44;
    position: relative;
    z-index: 1000; /* Stellt sicher, dass die Navbar über anderem Inhalt liegt */
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    padding-right: 20px;
}

.navbar a {
    color:#82AAFF;
    text-decoration: none;
    padding: 8px 12px;
    display: flex;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.navbar a:hover,
.navbar a.active {
    background-color: #ADDB67;
    color: #001122;
}

.settings-icon {
    transition: transform 0.3s ease;
    display: block;
}

.settings-icon.rotate {
    transform: rotate(90deg);
}

.settings-container {
    position: relative;
}

.settings-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #001A33;
    border: 1px solid #102A44;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    min-width: 160px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 999; /* Stellt sicher, dass es über anderem Inhalt liegt, aber unter Navbar */
    display: flex;
    flex-direction: column;
}

.settings-dropdown.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.settings-dropdown a {
    color: #82AAFF;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.settings-dropdown a:hover {
    background-color: #ADDB67;
    color: #001122;
    border-radius: 0;
}

.navbar-logo {
    width: 80px;
    height: 70px;
    margin-right: 0;
    display: block;
    text-align: right;
}
a.navbar-logo-link {
    padding: 0;
}
